[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A simple Spring Boot template project
[access "refs/*"]
	owner = group user/Lasse Määttä (lassemaatta)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Lasse Määttä (lassemaatta)
	label-Verified = -1..+1 group user/Lasse Määttä (lassemaatta)
	push = group user/Lasse Määttä (lassemaatta)
	read = group user/Lasse Määttä (lassemaatta)
	rebase = group user/Lasse Määttä (lassemaatta)
	removeReviewer = group user/Lasse Määttä (lassemaatta)
	submit = group user/Lasse Määttä (lassemaatta)
[access "refs/heads/*"]
	create = group user/Lasse Määttä (lassemaatta)
	push = +force group user/Lasse Määttä (lassemaatta)
	pushMerge = group user/Lasse Määttä (lassemaatta)
	read = group user/Lasse Määttä (lassemaatta)
[access "refs/tags/*"]
	push = group user/Lasse Määttä (lassemaatta)
	push = +force group user/Lasse Määttä (lassemaatta)
